.top {
	display: flex;
}

h1 {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
	font-weight: 600;
}

* {
	font-family: var(--font-main);
	font-size: 1.25rem;
}

.quote {
	font-family: var(--font-quote);
	margin-block: auto;
	margin-left: auto;
	margin-right: 1rem;
	color: var(--clr-quote-fg);
	font-size: 1.5rem;
	transform: rotate(-4deg);
}

a {
	margin-bottom: 1rem;
}

p {
	text-indent: 3rem;
	font-family: 'Inter';
	margin-top: 0;
}

ul {
	margin-block: 0;
	margin-bottom: 1rem;
}