<div class="top">
	<h1>Contact Us</h1>
</div>
<a>If you live in the Lake Almanor area, we meet for the Lord's Supper every Sunday. We meet in different homes at different time, so please call.</a>

<h2>But if you want to get serious and know the Lord...</h2>
<a>We will study with you privately in your home or ours. Call Charles at <a href="tel:3606200586">(360) 620-0586</a>, he is one of our roving evangelists.</a>
<a>¿Quieres una clase de español? ¡No hay problema! Dane habla un poco y tiene clases en español.</a>
<ul>
	<li>We study the New Testament on Sundays. Classes for all ages. This week: <b>Luke</b></li>
	<li>We study the Old Testament during the week. Classes for all ages. This week: <b>Numbers</b></li>
</ul>

<h2>Weddings & Funerals</h2>
<ul>
	<li>We have evangelists who would be more than willing to help you with you wedding, but we don't have a building. You get the building or the place and we'll help you on your special day. One of them has skydived before too, if that is your need.</li>
	<li>If you are looking for help for funerals, our evangelists can help you there too. Sorry for your loss, let us know what we can do.</li>
	<li>Our preachers are not that good at Bar Mitzvahs, because they're Christian. But call anyway!</li>
	<li>We have supported evangelists to provide these services for free.</li>
</ul>
